.contacts {
    padding: 64px 32px;
}

.c-title {
    font-size: 48px;
    margin-bottom: 64px;
}

.c-email-block {
    margin-bottom: 56px;
}

.c-subtitle {
    font-size: 20px;
    margin-bottom: 8px;
}

.c-email {
    font-weight: 300;
    font-size: 20px;
}

.c-links-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .contacts {
        padding: 16vh 0 64px 22vw;
    }
}