footer {
    padding: 38px 48px 26px;
}

.email-block {
}

.f-title {
}

.email {
}

.links-block {
}

.links-list {
}

.creator {
}

@media screen and (min-width: 1200px) {
    footer {
        height: 56px;
    }

    .f-email {
        font-size: 20px;
    }
}
