.dt-header {
    display: none;
}

.mb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 34px 16px 0;
}

.h-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-y-dot {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--accent-color-y);
}

.nav-name {
    font-weight: 600;
    font-size: 22px;
}

.nav-direction {
    font-weight: 400;
    font-size: 12px;
}

.lang-toggle {
    width: 32px;
}

.mb-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 42px 33px 75px;
    background-color: #fff;
    text-align: center;
    font-size: 24px;
}

.menu-top-container {
    display: flex;
    flex-direction: column;
    gap: 81px;
    width: 100%;
}

.svg-close {
    margin-left: auto;
}

.nav-list li{
    margin-bottom: 50px;
}

@media screen and (min-width: 425px) {
    .mb-header {
        padding: 38px 30px 0;
    }

    .h-title {
        gap: 9px;
    }

    .nav-y-dot {
        width: 35px;
        height: 35px;
    }

    .nav-name {
        font-size: 24px;
    }

    .nav-direction {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .mb-menu {
        display: none;
    }

    .mb-header {
        display: none;
    }

    .dt-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0 auto;
        padding: 36px 56px 0;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav-main-link {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 140px;
        height: 35px;
        border-radius: 24px;

        font-size: 16px;
        font-weight: 600;
    }

    .g-btn {
        background-color: var(--accent-color-g);
    }

    .b-btn {
        background-color: var(--accent-color-b);
    }

    .lang-toggle {
        display: flex;
        justify-content: space-between;

        width: 48px;
        font-weight: 600;
        font-size: 16px;
    }

    .lang-toggle button {
        font-weight: 600;
    }
}

@media screen and (min-width: 1630px) {
    .dt-header {
        padding-top: 48px;
    }

    .nav-menu {
        gap: 24px;
    }

    .nav-main-link {
        gap: 12px;
    }

    .nav-y-dot {
        width: 40px;
        height: 40px;
    }

    .nav-name {
        font-size: 32px;
    }

    .nav-link {
        width: 160px;
        height: 40px;

        font-size: 20px;
    }

    .lang-toggle {
        font-size: 20px;
    }
}