.main-section {
    padding-top: 38px;
    max-width: 720px;
    margin: 0 auto;
}

.left {
    text-align: center;
}

.main-title {
    font-size: 36px;
    margin-bottom: 24px;
    /*padding: 0 16px;*/
}

.main-title-secondary {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 38px;
    padding: 0 24px;
}

.main-text-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_text_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    width: 100%;
    aspect-ratio: 428 / 239;
    min-height: 239px;
    padding: 0 12px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    color: #FFF;
}

.main_text_block:first-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/main/one.jpg');
}

.main_text_block:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/main/two.jpg');
}

.main_text_block:last-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/main/three.jpg');
}

.main_text_block .text, .main_text_block .title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main_text_block .text {
    padding: 0 10px;
}

@media (hover: none) {
    .main_text_block:first-child:active {
        background-image: url('../img/main/one.jpg');
    }

    .main_text_block:nth-child(2):active {
        background-image: url('../img/main/two.jpg');
    }

    .main_text_block:last-child:active {
        background-image: url('../img/main/three.jpg');
    }

    .main_text_block:active .text, .main_text_block:active .title {
        opacity: 0;
    }
}

.img-list {
    display: none;
}

@media screen and (min-width: 450px) {
    .main-title {
        font-size: 48px;
    }

    .main-title-secondary {
        font-size: 24px;
        margin-bottom: 8vh;
    }

    .main_text_block {
        gap: 16px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        height: 100vh;
        max-height: 100vh;
    }

    .main-section {
        display: flex;
        align-items: flex-start;

        max-width: 1920px;
        height: calc(100vh - 71px - 86px);
        overflow-y: auto;
        padding: 64px 0;
    }

    .left {
        max-width: 78vw;
        margin-left: 11vw;
        text-align: left;
        padding: 24px 0;
    }

    .main-title {
        margin-bottom: 0.4vh;
        font-size: 36px;
    }

    .main-text-list {
        gap: 3vh;
        font-size: 24px;
    }

    .main_text_block {
        gap: 0.8vh;
        width: 100%;
        aspect-ratio: 0;
        min-height: 0;
        padding: 0;
    }

    .main-text-list .main_text_block {
        background-image: none;
    }

    .main_text_block .title, .main_text_block .text {
        color: var(--text-color);
        text-shadow: none;
    }

    .main_text_block .title {
        margin-bottom: 1vh;
    }

    .main_text_block .text {
        padding: 0;
    }
}

@media screen and (min-width: 1230px) {
    .left {
        max-width: 35vw;
    }

    .img-list {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 12%;

        display: flex;
        flex-direction: column;
        gap: 15px;

        width: 35%;
    }
}

@media screen and (min-width: 1630px) {
    .main-section {
        height: calc(100vh - 88px - 84px);
    }

    .left {
        padding: 48px 0;
    }

    .main-title {
        font-size: 48px;
    }

    .main-text-list {
        font-size: 32px;
    }
}
